<!-- <p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        thead {
            background-color: #f2f2f2;
        }

        tfoot {
            background-color: #f9f9f9;
            font-weight: bold;
        }
    </style>
    <title>Movie Table</title>
</head>
<body>

<h2>Movie List</h2>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Rating</th>
            <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>The Irishman</td>
            <td>R</td>
            <td>27-Nov-2019</td>
        </tr>
        <tr>
            <td>Parasite</td>
            <td>R</td>
            <td>30-May-2019</td>
        </tr>
        <tr>
            <td>Nomadland</td>
            <td>R</td>
            <td>19-Feb-2021</td>
        </tr>
        <!-- Add more rows as needed -->
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total Movies: 3</td>
        </tr>
    </tfoot>
</table>

</body>
</html>
